@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9qhxmz');
  src:  url('fonts/icomoon.eot?9qhxmz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9qhxmz') format('truetype'),
    url('fonts/icomoon.woff?9qhxmz') format('woff'),
    url('fonts/icomoon.svg?9qhxmz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-g_translate:before {
  content: "\e901";
}
.icon-translate:before {
  content: "\e900";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-mobile1:before {
  content: "\e958";
}
.icon-mobile:before {
  content: "\e958";
  padding-right: 0.5rem;
}
.icon--user-tie:before {
  content: "\e976";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-woman:before {
  content: "\e9dd";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-infinite:before {
  content: "\ea2f";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-google3:before {
  content: "\ea8a";
  padding-right: 0.5rem;
}
.icon-hangouts:before {
  content: "\ea8e";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-file-pdf:before {
  content: "\eadf";
  padding-right: 0.5rem;
}
