body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, 
                rgba(0,0,0,0.15) 100%), radial-gradient(at top center, 
                rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
}
html{
    scroll-behavior: smooth;
}
a{
    color: white;
    text-decoration: none;
}
.containerMenu{
    position: absolute;
    top: 1rem;
    width: 100%;
}
.clsMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: #242424;
    border-radius: 50%;
    position: relative;
    padding: 0.5rem;
    margin-left: 1rem;
}
nav{
    margin: 0;
    background-color: #242424;
    position: absolute;
    border-radius: 0 0 30% 0;
}

nav ul{
    position: relative;
    padding: 10px 40px;
}

nav ul li a{
    font-size: 20px;
    padding-bottom: 1rem;
}
.icon-menu{
    color:#68D89B;
}
#displayNavMenu{
    display: none;
}
.clsMenu .btnMenu{
    font-size: 24px;
    padding: 20px;
}
nav ul li {
    list-style: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    float: none;
}

nav ul li:hover{
    color: #68d89a96;
}
nav ul li a:focus{ 
    color: #68d89a96;
}
.sectionWelcome{
    width: 100vw;
    height: 100vh;
    background-image: url('../image/portada.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    animation: movimiento 20s infinite linear alternate;
}
.sectionWelcome:before{
    width: 100vw;
    height: 100vh;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: #68d89a80;
} 
.welcome{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.clsPresentation{
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, 
                rgba(0,0,0,0.15) 100%), radial-gradient(at top center, 
                rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.containerDescription{
    position: relative;
}
.sectionPhoto{
    display: flex;
    justify-content: center;
    align-content: center;
}
.imgPhoto{
  width: 230px;
  height: 330px;
  border-radius: 80px;
  padding: 2.5rem;
}
h1, h3{
    align-content: center;
    text-align: center;
    font-size: 30px;
    position: relative;
}
/* .name{
    font-size: 40px;
} */


.name {
    color: white;
    font-size: 40px;
    position: relative;
    margin: 0 auto;
 }

p{
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: justify;
    line-height: 150%;
    font-size: 25px;
}
.pDescription{
    padding: 2rem;
    margin: 0;
}

.sectionSkill{
    background: #68D89B;
    padding: 1rem 2rem 3rem 2rem;
    display: flex;
    justify-content: right;
    flex-direction: column;
}
.subtitles{
    color: white;
    display: flex;
}
#hProjects{
    padding-left: 2rem;
}
.containerSkills{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.logoSkill{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0.5rem;
}
/* .imgSkill{
    overflow: hidden;
        box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #373b37;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
} */
/* .imgSkill:hover {
    -webkit-animation: scale(1.3);
    transform: scale(1.3);
} */

.containerSectionProject{
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, 
                rgba(0,0,0,0.15) 100%), radial-gradient(at top center, 
                rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    padding-bottom: 3rem;
}
.sectionProject{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cardProjects{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    margin: 1rem;
}

.imgProjects{
    width: 100%;
    height: 220px;
    border-radius: 10px;
}
.pProject{
    font-size:15px;
}
.sectionDetailsProjects{
    /* position: absolute; */
    width: 100%;
    bottom: 0;
    background: #354d40d2;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 1rem;
    /* color: bisque;
    transform: translateY(100%);
    transition: all 1s ease-out; */
}
/* .cardProjects:hover .sectionDetailsProjects{
    transform: translateY(0%);
} */
h2{
    color: #68D89B;
    padding-left: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
}
.pProject{
    padding: 0.5rem;
}

footer{
    background: #68D89B;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: relative;
}
.pFooter{
    justify-content: end;
    padding-left: 3rem;
    color: #3d5046;
}
.rotateFooter{
    /* transform: rotate(0deg); */
    transform-origin: top center ;
}
.linkProject{
    display: flex;
    align-content: center;
}
.subTitle{
    text-align: left;
    padding-left: 1rem ;
}
.subTitleFooter{
    justify-content: end;
    padding-left: 1.5rem;
    font-size: 25px;
    color: #3d5046;
}
.containerStatic{
    width: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    background: #242424af;
    position: fixed;
    z-index: 100;
    right: 0;
    bottom: 2rem;
    border-radius: 20px 0 0 20px;
}
.logoContacto{
    margin-top: 10px;
}

.linkCv{
    color: #3d5046;
}
.traslateEnglish{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    cursor: pointer;
}

@keyframes movimiento{
    from{
        background-position: bottom left;
    } to {
        background-position: top right;
    }
}
@keyframes mover{
    0%{
        transform: translate(100%);
    }
}

.icon-github:before {
    font-size: 30px;
    color:#68d89ac5;
    padding-right: 0.5rem;
    margin-top: 0.5rem;
  }
  .icon-linkedin:before {
    font-size: 30px;
    color:#68d89ac5;
    padding-right: 0.5rem;
  }
  .icon-whatsapp{
    font-size: 30px;
    color:#68d89ac5;
    padding-right: 0.5rem;
  }
  .icon-translate{
    font-size: 32px;
    color: white;
}


/* Screen size:  iPads, Tablets. */
@media screen and (min-width : 768px){
    .containerSkills{
        align-items: center;
    }

    .logoSkill{
        width: 150px;
        height: 150px;
        margin-bottom: 2rem;
        align-items: center;
    }
    .imgSkill{
        width: 100px;
        height: 80px;
    }
    .cardProjects{
        width: 50%;
    }
    
    .imgProjects{
        width: 100%;
        height: 160px;
        border-radius: 10px;
    }
    .sectionProject{
        justify-content: center;
    }
}

/* Screen size: Small screens, laptops. */
@media screen and (min-width : 992px){
    .clsMenu{
        display: none;
    }
    #displayNavMenu{
        display: block;
    }
    #displayNavMenu {
        background: none;
        width: 100%;
    }
    ul{
        display: flex;
        justify-content: space-around;
        align-content: center;
        padding: 0rem 8rem 0rem 8rem;

        /* width: 50%;
        margin: 0;
        background-color: #242424;
        position: absolute;
        border-radius: 0 0 50% 0; */
    }
    nav ul li{
        font-size: 25px;
        font-weight: 600;
        padding: 0;
        transition: all ease-in .3s;
    }
    nav ul li a{
        padding-top:0.5rem ;
        padding-bottom:0.5rem ;
    }

    nav ul li a:hover{
        color: #0d1d68;
    }
    nav ul li:hover{
        border-bottom: 5px solid #0d1d68;
    }
    nav ul li a:focus{ 
        color: #0d1d68;
    }

    /* .target {
        position: absolute;
        border-bottom: 4px solid transparent;
        z-index: -1;
        transform: translateX(-60px);
    }
    #displayNavMenu a, 
    .target {
        transition: all .35s ease-in-out;
    } */

    .sectionWelcome{
        width: 100%;
    }
    .clsPresentation{
        height: 100vh;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    .containerDescription{
        width: 50%;
        justify-content: center;
        align-content: center;
        padding-right: 4rem;
    }
    .sectionPhoto{
        justify-content: center;
        align-content: center;
    }
    .containerSkills{
        align-items: center;
    }
    .sectionSkill{
        padding-left: 10rem;
        padding-right: 10rem;
    }
    .logoSkill{
        width: 100px;
        height: 100px;
        margin-bottom: 2rem;
        align-items: center;
    }
    .imgSkill{
        width: 100px;
        height: 80px;
    }
    .imgSkillPost{
        width: 100px;
        height: 100px;
    }
    .containerSectionProject{
        padding-bottom: 2rem;
    }
    .sectionProject{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0rem 10rem 0 10rem;
    }
    .cardProjects{
        width: 400px;
        position: relative;
        overflow: hidden;
        margin: 1rem;
    }
    
    .imgProjects{
        width: 400px;
        height: 250px;
        border-radius: 10px;
    }
    .pProject{
        font-size:15px;
    }
    .sectionDetailsProjects{
        position: absolute;
        bottom: 0;
        padding: 20px;
        color: bisque;
        transform: translateY(100%);
        transition: all 1s ease-out;
    }
    .cardProjects:hover .sectionDetailsProjects{
        transform: translateY(0%);
    }
    #hProjects{
        padding-left: 10rem;
    }
    .rotateFooter{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .traslateEnglish{
        top: 2.5rem;
    }
    
}